SECRET_KEY = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
ALLOWED_HOSTS='"127.0.0.1", "localhost", "localhost:8080"'
ALGORITHM = "HS512"
ACCESS_TOKEN_EXPIRE_MINUTES = 480
DEBUG = 1

# database config
DATABASE_URL = "postgres://user:password@localhost:5432" 
DATABASE_NAME = "NAME"
DATABASE_USER = "USER"
DATABASE_PASSWORD = "PASSWORD"